*{
	color:yellow;
	
}
body {
	background-color:black;
    background-image: url("lightsabers.png");
    background-position: left;
}
.reviews a:hover {
	background-color: white;
	color: black;
}
.return{
	float:left;
	
}
ul{
	list-style-type:none;
}
footer {
	color:yellow;
    background-color: #333;
    font-size: 24px;
}
.reviews{
	text-decoration: none;
	
}
.header{
	text-align: center;
	background-image: url("image/Star-wars-logo-new-tall.jpg");
}
.funky{
	font-family: 'Bungee Shade', cursive;
	font-size: 72px;
}
.funky-review{
	font-family: 'Bungee Shade', cursive;
	font-size: 48px;
	line-height: 4rem;
	text-align:center
	
}
.topnav {
    overflow: hidden;   
}
.topnav a {
    color: yellow;
    text-align: center;
    text-decoration: none;
	margin:.5rem;
	font-size: 1.5rem;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.navbar {
    background-color: #1a1a1a;
    overflow: hidden;
    position: static;
    bottom: 0;
    width: 100%;
}
.navbar a {
	
	color:yellow;
    display: inline;
  	text-align:center;
    color: #f2f2f2;
    padding:0;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

