<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/CSS/layout.css" />
<link rel="stylesheet" href="/CSS/styles.css" />
<title>Star Wars Review Site</title>
</head>

<body>
	<header>
		<nav class="topnav">
			<ul>
				<li><a th:href="@{/reviews}">Review</a></li>
				<li><a th:href="@{/tags}">List of Tags</a></li>
			</ul>
		</nav>
	</header>
	<main class="content">
	<h1>Categories:</h1>
	<ul>
		<li th:each="category: ${categories}"><a
			th:href="|@{/category/}${category.name}|"> <span
				th:text="${category}"></span>
		</a></li>
	</ul>
	</main>
	<footer>
		<p>HandCrest &copy;</p>
	</footer>
</body>
</html>