<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/CSS/layout.css" />
<link rel="stylesheet" href="/CSS/styles.css" />
<style>
@import
	url('https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Bungee+Shade|Creepster|Ewert|Fruktur|Gravitas+One|Monoton|Rubik:900')
	;
</style>
<title>Category</title>
</head>

<body>
	<header>
		<nav class="topnav">
			<ul>
				<li><a th:href="@{/reviews}">Movies</a></li>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/tags}">Tags</a></li>
			</ul>
		</nav>
	</header>
	<div class="header">
		<h1 class="funky">Category</h1>
	</div>
	
	<div class="reviews">
	<ul>
		<li th:each="review: ${category.reviews}">
		<a th:href="|@{/review/}${review.title}|">
		<span th:text="${review.title}"></span></a></li>
	</ul>
	</div>
	
	
<ul>
		<li th:each="review : ${reviews}"><a
			th:href="|@{/review/}${review.title}|"> <span
				th:text="${review.title} + ': '">Name</span>
		</a></li>
	</ul>
	

	<footer>
		<nav class="navbar">
			<ul>
				<p>HandCrest &copy;</p>
				<li><a th:href="@{/reviews}">Movies</a></li>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/tags}">Tags</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>