<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/CSS/layout.css" />
<link rel="stylesheet" href="/CSS/styles.css" />
<style>
@import
	url('https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Bungee+Shade|Creepster|Ewert|Fruktur|Gravitas+One|Monoton|Rubik:900')
	;
</style>
<title>Star Wars Review Site</title>
</head>
<body>
	<header>
		<nav class="topnav">
			<ul>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/tags}">Tags</a></li>
				<li><a th:href="@{/comments}">Comments</a></li>
			</ul>
		</nav>
		<audio autoplay="autoplay" src="Audio/theme.mp3"></audio>
	</header>

	<div class="header">
		<h1 class="funky">Reviews</h1>
	</div>

	<div class="reviews">
		<ul>
			<li th:each="review : ${reviews}"><a
				th:href="|@{/review/}${review.title}|"> <span
					th:text="${review.title}">Name</span>
			</a></li>
		</ul>
	</div>
	
	<form action="/reviews" method="POST">
	<label>Movie Title: <input type="text" name="title"  /></label>
	<label>Description: <input type="text" name="content"  /></label>
	<label>Image Url: <input type="url" name="imgUrl"  /></label>
	<label>Category: <input type="text" name="category"  /></label>
	<label>Tags: <input type="text" name="tags"  /></label>
	<input type="submit" value="Submit"  />
	</form>
	
	
	
	<footer>
		<nav class="navbar">
			<ul>
				<p>HandCrest &copy;</p>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/tags}">Tags</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>