<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/CSS/layout.css" />
<link rel="stylesheet" href="/CSS/styles.css" />
<title>Star Wars Review Site</title>
</head>
<body>
	<header>
		<nav class="topnav">
			<ul>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/reviews}">Reviews</a></li>
				<li><a th:href="@{/tags}">List of Tags</a></li>
			</ul>
		</nav>
	</header>
	<a th:href="|@{/tag/}${tag.name}|"></a>

	<h1>Tag:</h1>
	<p th:each="review: ${tag.reviews}">
	<span th:text="${review.title}"></span></p>
	<footer>
		<p>HandCrest &copy;</p>
	</footer>
</body>
</html>