<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/CSS/layout.css"  />
<link rel="stylesheet" href="/CSS/styles.css"  />
<title>Star Wars Review Site</title>
</head>

<body>
	<header>
		<nav class="topnav">
			<ul>
				<li><a th:href="@{/categories}">Categories</a></li>
				<li><a th:href="@{/reviews}">Reviews</a></li>
			</ul>
		</nav>
	</header>
	<h1>Tags:</h1>
	<ul>
        <li th:each="tag: ${tags}">
            <a th:href="|@{/tag/}${tag.name}|">
                <span th:text="${tag}"></span>
            </a>
        </li>
    </ul>
    
    
<footer>
	<p>HandCrest &copy;</p>
</footer>
</body>
</html>